
$gunmetal: #1c2630ff;

$prussian-blue: #1a2d40ff;
$indigo-dye: #233d58ff;
$steel-blue: #4679afff;
$slate-gray: #5f7a95ff;
$light-slate-gray: #768798;
$dark-slate-grey: #454d59;

$maximum-blue-green: #00bbc2ff;
$lavender-blue: #c8c1f5ff;
$orange-soda: #f2542dff;


$gcs-base: $gunmetal;
$height-raise-base: #E8E8FF;
$height-lower-base: darken($gcs-base, 5%);

$height-raise-one: rgba($height-raise-base, 0.2);
$height-raise-two: rgba($height-raise-base, 0.3);
$height-raise-three: rgba($height-raise-base, 0.45);
$height-raise-four: rgba($height-raise-base, 0.7);

$height-lower-one: rgba($height-lower-base, 0.2);
$height-lower-two: rgba($height-lower-base, 0.4);
$height-lower-three: rgba($height-lower-base, 0.6);
$height-lower-four: rgba($height-lower-base, 0.8);

$gcs-elevated: $height-raise-one;
$gcs-fake-elevated: $dark-slate-grey;
$gcs-alpine: $height-raise-four;
$gcs-alpine-hover: $height-raise-three;
$gcs-alpine-disabled: lighten($gcs-alpine, 7.5%);
$gcs-bright: $maximum-blue-green;
$gcs-faded: $lavender-blue;
$gcs-faded-hover: darken($gcs-faded, 10%);
$gcs-faded-disabled: lighten($gcs-faded, 10%);

$gcs-loud: $orange-soda;


@font-face {
	font-family: "Palm Canyon Drive";
	src: url("./PalmCanyonDrive.otf") format("opentype");
	font-style: normal;
}

@mixin gcs-radio-header {
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Mr Dafoe", cursive;
	font-weight: lighter;
	color: $gcs-loud;
}
